a {
	text-decoration: none;
	color: #0a88aa;
}
.articalls{
	background: #fff;
}
.posts{
	padding: 10px;
}
.all-art{
	float: left;
	width: 100%;
	padding: 15px;
}
.post-num{
	float: left;
	width: 46%;
	margin: 10px;
}
.post-num img{
	width: 100%;
}
.published {
	float: right;
	font-style: italic;
	color: #ccc; 
}
.post-title a{
	color: #0a88aa;
}
.post-title{
	text-align: center;
	padding-top: 10px;
}
.page-slider nav{
	margin-left: 30px;
}
@media screen and (max-width: 680px) {

}
@media screen and (max-width: 480px) {
	.left-center-content{
		display: none;
	}
  .right-center-content{
  	float: left;
  }
  .all-art{
  	width: 50%;
  }
}