a {
	text-decoration: none;
	color: #0a88aa;
}
#right-center{
	float: left;
	width: 60%;
	padding: 5px;
}
.post-title a{
	color: #0a88aa;
	font-size: 18px;
	float: left;
	padding-bottom: 5px;

}
.post-title a:hover{
	color: #8e8e93;
 
}
.post-content{
	float: left;
}
.post-inner-artical{
	margin-left: 20px;
	margin-bottom: 30px;
}
.category-meta{
	float: left;
	width: 45%;
}
.pub-date{
	float: left;
	width: 45%;
	color: #000;
	font-style: italic;
}
.category-meta a{
	color: #0a88aa;
}
#right-center{
	padding: 5px;
	margin-left: 10px;
}
.group-post{
	float: left;
	width: 50%;
	padding-bottom: 30px;
}
.page-slider{
	margin-left: 10px;
	padding-right: 10px;
}